
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
   
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.title{
   
    text-align: center;
}

.image {
    min-height: 100vh;
    position: relative;
    
}

.image .content {
   
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    }
    
    .content span.img-txt {
        background-image: linear-gradient(to right, rgb(175, 234, 252), rgb(186, 248, 164));
        /* background-color: #333; */
        opacity: 0.1;
        text-transform: uppercase;
        color: rgb(18, 16, 16);
        padding: 1rem;
        font-size: 1rem;
        letter-spacing: 5px;
        /* align-items: center; */
        margin-left: 0px;
        font-family:fantasy;
    }
    
    
    
    h3, a {
        letter-spacing: 6px;
       
        text-transform: uppercase;
        font: 1.3rem;
        text-align: center;
        color: white;
        /* margin-left: 35%; */
    }
    
    .text-box {
        text-align: center;
        padding: 3rem 1rem;
        text-align: justify;
        
    }

    p{
        padding: 2%;
        color: gray;
        letter-spacing: 0.2rem;
    }

    .heading{
        color: whitesmoke;
        margin-top: 1%;
    }

    